@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;600;800&display=swap');

*{
    font-family: "baloo 2", sans-serif;
    /* animation: fade-in 1.5s; */
}


.paginate li{
    font-size: small;
    display: inline;
    font-size: large;
    padding: 15px 20px;
}

.paginate{
    padding: 10px 15px;
    overflow: hidden;
    /* margin: 10px; */
    font-weight: bolder;
    border-radius: 10px;
    background-color: rgb(64,176,136);
    border:solid 1px white;
}

.active-item{
    background-color: black;
}

@keyframes fade-in{
    0% {
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

@media screen and (max-width:400px){
    .paginate li{
        display: block;
    }
}